<div class="container">
    <div class="row">
     <div class="col-md-12 col-centered">
        <ngb-carousel >
            <ng-template ngbSlide>
              <img src="./../../assets/dress.jpg" alt="Random first slide">
              <div class="carousel-caption">
                <h3>Clothing</h3>
                <p>The ultimate clothing to see the world in. True style never dies.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./../../assets/phone.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>Mobile Store</h3>
                <p>Meet with Biggest Things of this year. Choose your World</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./../../assets/furniture1.jpeg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Furniture</h3>
                <p>Furnishing future. Better price , Great furniture</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./../../assets/tv.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>TV</h3>
                <p>The superior solutions at one!, Experience the Best.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./../../assets/furniture2.jpeg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Furniture</h3>
                <p>Irresistible Wood crafts. Everything for your home</p>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
 </div>
</div>