<!-- <style="text-align:center;"><h2>Welcome to Dxc Kart</h2></style> -->
<!-- <div text:align-center>
    <h2>Welcome to Dxc Kart</h2>
</div> -->

<!-- 
<br/>
<div class="container">
  <div class="row">
    <div class="card-group col-sm-12 border-dark mb-3">
      <div class="card border-dark mb-3">
        <img src="../assets/images/menshirt.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Shirt</h5>
          <p class="card-text">₹750</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a  class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/speaker1.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Speaker</h5>
          <p class="card-text"> ₹1999</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img7.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Seagate 1TB Backup Plus Slim External Hard Drive</h5>
          <p class="card-text">₹3899</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-group col-sm-12 border-dark mb-3">
      <div class="card border-dark mb-3">
        <img src="../assets/images/watch1.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Watch</h5>
          <p class="card-text">₹5000</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img2.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hand Bag</h5>
          <p class="card-text"> ₹500</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img15.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dress</h5>
          <p class="card-text">₹899</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="card-group col-sm-12 border-dark mb-3">
      <div class="card border-dark mb-3">
        <img src="../assets/images/img8.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kid's Wear</h5>
          <p class="card-text">₹500</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img16.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">White Gown</h5>
          <p class="card-text"> ₹5000</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img3.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kitchen Apron</h5>
          <p class="card-text">₹300</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="card-group col-sm-12 border-dark mb-3">
      <div class="card border-dark mb-3">
        <img src="../assets/images/img17.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gown</h5>
          <p class="card-text">₹5000</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img12.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boy's Shirt</h5>
          <p class="card-text"> ₹399</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/images/img14.jpg" style="width:368px;height:300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Denim Shirt</h5>
          <p class="card-text">₹589</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

    </div>
  </div>

</div>

 -->













<br/>

<div class="continer col-sm-12">
    <div class="card-deck ">
      <div class="card border-dark  mb-4 col-sm-4">
        <img src="./../../assets/img11 (2).jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Apple Laptop</h5>
            <p class="card-text">₹50000</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <button (click)= "onProductAddedToCart('product1')" class="btn btn-primary">Add to Cart</button>
          </div>
      </div>
      <div class="card border-dark  mb-4 col-sm-4">
        <img src="./../../assets/img11.jpg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">Hand Bag</h5>
            <p class="card-text">₹500</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <button (click)= "onProductAddedToCart('product2')" class="btn btn-primary">Add to Cart</button>
          </div>
      </div>
      <div class="card border-dark  mb-4 col-sm-4">
        <img src="./../../assets/img3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kitchen Apron</h5>
            <p class="card-text">₹150</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <button (click)= "onProductAddedToCart('product3')" class="btn btn-primary">Add to Cart</button>
          </div>
      </div>
    </div>


    <div class="card-deck ">
        <div class="card border-dark  mb-4 col-sm-4">
          <img src="./../../assets/img15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Kids frok</h5>
              <p class="card-text">₹600</p>
              <p class="card-text"><small class="text-muted"></small></p>
              <button (click)= "onProductAddedToCart('product4')" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="card border-dark  mb-4 col-sm-4">
          <img src="./../../assets/img16 .jpg" class="card-img-top" alt="...">
           <div class="card-body">
              <h5 class="card-title">kids dress</h5>
              <p class="card-text">₹1000</p>
              <p class="card-text"><small class="text-muted"></small></p>
              <button (click)= "onProductAddedToCart('product5')" class="btn btn-primary">Add to Cart</button>
             </div>
        </div>
        <div class="card border-dark  mb-4 col-sm-4">
          <img src="./../../assets/pillow.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">pillow</h5>
              <p class="card-text">₹2500</p>
              <p class="card-text"><small class="text-muted"></small></p>
              <button (click)= "onProductAddedToCart('product6')" class="btn btn-primary">Add to Cart</button>
        
            </div>
        </div> 

        <div class="card-deck ">
            <div class="card border-dark  mb-4 col-sm-4">
              <img src="./../../assets/images (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">mens dress</h5>
                  <p class="card-text">₹4500</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <button (click)= "onProductAddedToCart('product7')" class="btn btn-primary">Add to Cart</button>
          
                </div>
            </div>
            <div class="card border-dark mb-4 col-sm-4">
              <img src="./../../assets/img12.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                  <h5 class="card-title">kids</h5>
                  <p class="card-text">₹500</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <button (click)= "onProductAddedToCart('product8')" class="btn btn-primary">Add to Cart</button>
          
                </div>
            </div>
            <div class="card border-dark mb-4 col-sm-4">
              <img src="./../../assets/images (7).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Kitchen Apron</h5>
                  <p class="card-text">₹150</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <button (click)= "onProductAddedToCart('product9')" class="btn btn-primary">Add to Cart</button>
          
                </div>
            </div>
          </div> 


      </div>

    </div>
    
